ion-slide {
    flex-direction: column;
    height: 100vh;
    background: #f8dfc7;
}



ion-button {
    width: 80vw;
    
}

h2, p{
    text-align: center;
    color: #afaba5;
}

h3 {
    text-align: center;
    font-size: small;
}
